:root {
    box-sizing: border-box;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --dark-blue: #313647;
    --light-blue: #435663;
    --light-green: #A3B087;
    --white: #FFF8D4;

}

form, 
dialog {
    padding: 0;
    margin: 0;
    border-style: none;
    font-family: inherit;
}

body {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    background: linear-gradient(var(--dark-blue), var(--light-blue));
    background-size: 100% 200%;

}
button, 
.container,
header,
.game-info {
    box-shadow: rgba(12, 33, 48, 0.329) 0 4px 4px;;
}

body,
button,
p {
    padding: 0;
    margin: 0;
}

button {
    padding: 0.5rem;
    width: 100px;
    border-style: none;
    font-family: inherit;
    font-weight: 700;
    color: var(--white);
    background: var(--light-green);
    border-radius: 10px;

    &:hover {
        background: rgba(135, 255, 119, 0.274);
    };
    &:active {
        background: rgba(97, 209, 253, 0.815);
        box-shadow: inset 0px 0px 10px 2px rgba(5, 80, 74, 0.322);
    };
}

input {
    font-weight: 700;
    border-radius: 10px;
    outline: var(--light-green) 2px solid;
    border-style: none;
    font-family: inherit;
    font-size: 1rem;
    height: 1.5rem;
    padding-left: 0.5ch;
    margin-left: 1ch;
    width: clamp(10ch, 15ch, 20ch);
    
}
input:focus {
    outline: rgb(62, 62, 100) 3px solid;
}

dialog::backdrop {
    background: linear-gradient(var(--light-green), var(--dark-blue));
    opacity: 0.5;
}

.head {
    display: grid;
    grid-auto-flow: row;
}

.head,
.container,
.game-info {
    margin-top: 0.5rem;
    padding: 1rem;
    background: var(--light-blue);
    border-radius: 10px;
    color: var(--white);
    max-width: 400px;
    justify-self: center;
}
.game-info {
    margin-top: 0;
    font-weight: 700;
    min-width: 400px;
    text-align: center;
    min-height: 2.8ch;
}
h1,
.button-area {
    place-self: center;
}

.container {
    min-height: 300px;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 200px));
    grid-template-rows: repeat(3, minmax(100px, 120px));
    gap: 1rem;
    margin-top: 0;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    position: relative;
    border-radius: 10px;

    &:hover {
        background: var(--light-green);
    };
    &:active {
        background: rgb(154, 154, 255);
    };
}

.tile {
    color: red;
    font-weight: 700;
    font-size: 100px;
    
    
}

.player-input:open {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    gap: 1rem;
    border-radius: 10px;
    background-color: var(--light-blue);
    color: var(--white);
    padding: 2rem;
    place-items: center;
    place-self: center;
}
.tile {
    color: var(--dark-blue);
}