:root {
    box-sizing: border-box;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --dark-blue: #313647;
    --light-blue: #435663;
    --light-green: #A3B087;
    --white: #FFF8D4;

}
body {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    background: linear-gradient(var(--dark-blue), var(--light-blue));
    background-size: 100% 200%;

}
button, 
.container,
header {
    box-shadow: rgba(12, 33, 48, 0.329) 0 4px 4px;;
}

body,
button {
    padding: 0;
    margin: 0;
}

button {
    padding: 0.5rem;
    width: 100px;
    border-style: none;
    font-family: inherit;
    font-weight: 700;
    color: var(--white);
    background: var(--light-green);
    border-radius: 10px;

    &:hover {
        background: rgba(135, 255, 119, 0.274);
    };
    &:active {
        background: rgba(97, 209, 253, 0.815);
        box-shadow: inset 0px 0px 10px 2px rgba(5, 80, 74, 0.322);
    };
}

.head {
    display: grid;
    grid-auto-flow: row;
}

.head,
.container {
    margin-top: 0.5rem;
    padding: 1rem;
    background: var(--light-blue);
    border-radius: 10px;
    color: var(--white);
    max-width: 400px;
    justify-self: center;
    
}
h1,
.button-area {
    place-self: center;
}

.container {
    min-height: 300px;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 200px));
    grid-template-rows: repeat(3, minmax(100px, 120px));
    gap: 1rem;
    margin-top: 0;
}

.square {
    background: var(--white);
    position: relative;
    border-radius: 10px;

    &:hover {
        background: var(--light-green);
    };
    &:active {
        background: rgb(154, 154, 255);
    };
}

.tile {
    color: red;
    font-weight: 800;
    font-size: 100px;
    position: absolute;
    top: -82px;
}
